.video{
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    position: absolute
}

.keterangan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status-diterima {
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 5px;
  }

  .status-ditolak {
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    
  }